.header {
    background-color: rgb(231, 123, 123);
    height: 130px;
}

.logo {
    width: 400px;
    height: 300px;
    padding-top: 60px;
}

.flex-column {
    padding-top: 50px;
    margin-left: 30px;
}

.drawer {
    width: 250px;
    height: 500px;
    background-color: rgb(61, 58, 58);
}

.item-not-selected {
    color: white;
    z-index: 100;
}

.item-selected {
    color: rgb(212, 155, 155);
}

.item-not-selected:hover {
    color: rgb(212, 155, 155);
}